<div class="row justify-content-center forms-container col-11 mx-auto">
  <div class="col-lg-5 col-md-6 col-12 px-4 py-4 border-end border-top">
    <h3>Create a account</h3>
    <app-register></app-register>
  </div>
  <div class="col-lg-5 col-md-6 col-12 px-4 py-4 border-top">
    <div class="border-bottom pb-4">
      <h3>Log in</h3>
      <app-login></app-login>
    </div>
    <div class="border-top pt-4">
      <h3>Contact us</h3>
      <app-contact></app-contact>
    </div>
  </div>
</div>
