<main>
  <div class="col-lg-12">
    <button
      type="button"
      class="btn deep-blue-bg me-3"
      (click)="onAddWorkout()"
      [disabled]="makingWorkout"
    >
      Add Workout
    </button>
  </div>
  <hr />
  <ng-container *ngIf="makingWorkout">
    <app-add-workouts></app-add-workouts>
    <hr />
  </ng-container>
  <app-workouts-list></app-workouts-list>
  <ng-container *ngIf="messageModalVisible">
    <app-message-modal [messageModal]="messageModal"></app-message-modal>
  </ng-container>
</main>
